<!DOCTYPE html>
<html lang='zh'>
  <head>
    <meta charset="UTF-8">
    <title>跟风学</title>
    <!-- lib -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- global common -->
    <link rel="stylesheet" href="css/global.css">
  </head>
  <body>

<% include header %>
<h1>Admin Page</h1>
<% if (!token) { %>
<form action="/admin/login" method="post">
  用户编号：<input type="text" name="userNo" /><br>
  密码：<input type="password" name="password" /><br>
  <input type="submit" value="提交" />
</form>
<% } else { %>
<p>添加新用户</p>
<form action="/admin/add_user?access_token=<%= token %>" method="post">
  <input type="radio" name="role" value="1" checked="checked" />student<br>
  <input type="radio" name="role" value="2" />teacher<br>
  <input type="radio" name="role" value="20" />admin<br>
  <input type="submit" value="提交" />
</form>
<hr>
<% } %>

<% include footer %>

</body>
</html>
