<footer class="clearfix">
  <div class="container text-muted">
    <ul class="ul-inline">
      <li>
        &copy; 2015 跟风学 |
      </li>
      <li>
        Developed by Genfengxue with <i class="glyphicon glyphicon-heart"></i> |
      </li>
      <li>
        <a href="release_notes">发布信息</a>
      </li>
      <li></li>
    </ul>
  </div>
</footer>
