<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="跟风学" class="pull-left" src="http://lorempixel.com/40/40/" width="20px" height="20px">
          跟风学
        </a>
      </div>
    </div>
  </nav>
</header>
